 <div class="container is-widescreen">
<%= form_tag '/login' do %>
    <div class="field">
         <%= label_tag 'Username', nil, class: 'label' %>
         <p class="control has-icons-left has-icons-right">
            <%= text_field_tag :username, nil ,class: 'input is-large', type:'text', placeholder:'Username'%> </br>
            <span class="icon is-large is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </p>
    </div>
        
    <div class="field">
        <%= label_tag 'Password', nil, class: 'label' %>
         <p class="control has-icons-left has-icons-right">
            <%= text_field_tag :password, nil ,class: 'input is-large', type: 'password', placeholder:'Password' %> </br>
            <span class="icon is-large is-left">
                <i class="fa fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="buttons">
    
    <%= submit_tag "Login", :class => 'button is-primary is-outlined' %>
<% end %>
    <%= button_to "Sign Up", '/users/new', method: :get,  class: 'button is-link is-outlined'%>
    </div>
</div>