<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'data-turoblinks-track' => true %>

  </head>
  <body>
  <div class="container is-widescreen">
  <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-white">
                <strong>Mukhlis Febriansyah</strong>
            </a>
            <a class="button is-danger is-outlined">
                Log in 
            </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section">
    <div class="container">
        <div class="columns is-1">
            <div class="column">
            First column
            </div>
            <div class="column">
            Second column
            </div>
            <div class="column">
            Third column
            </div>
            <div class="column">
            Fourth column
            </div>
            <div class="column">
            Five column
            </div>
            <div class="column">
            Six column
            </div>
        </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
        <div class="card">
            <div class="card-image">
                <figure class="image is-5by3">
                <%= image_tag('kyta.JPG') %>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                    <figure class="image is-48x48">
                     <%= image_tag('mukhlis.jpg') %>
                    </figure>
                    </div>
                    <div class="media-content">
                    <p class="title is-4">Mukhlis Febriansyah</p>
                    <p class="subtitle is-6">@mukhlisfb</p>
                    </div>
                </div>
            
                <div class="content">
                    Oke Guys kali ini gue lagi liat air terjur wkwkwkwkkwk
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 4 Feb 2020</time>
                </div>

            <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                <p>
                    <strong>Alwi Aulian</strong>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                    <br>
                    <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                </p>
                </div>

                <article class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <strong>Agung Prasetyo</strong>
                        <br>
                        Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                    </div>

                    <article class="media">
                    Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
                    </article>

                    <article class="media">
                    Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
                    </article>
                </div>
                </article>

                <article class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                    <p>
                        <strong>Azis Superman</strong>
                        <br>
                        Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                    </div>
                </div>
                </article>
            </div>
            </article>
            <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="field">
                <p class="control">
                    <textarea class="textarea" placeholder="Add a comment..."></textarea>
                </p>
                </div>
                <div class="field">
                <p class="control">
                    <button class="button">Post comment</button>
                </p>
                </div>
            </div>
            </article>
                
            </div>
        </div>
    </div>
  </section>
</html>
