<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <div class="wrapper">
        <div class="neon-wrapper">
            <span class="txt" >Mukhlis Febriansyah</span>
            <span class="gradient"></span>
            <span class="dodge"></span>
        </div>
      </div>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Beranda
      </a>

      <a class="navbar-item">
        Table Students
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="button is-danger is-outlined">
            <%= link_to 'New Teacher', new_teacher_path %>
          </div>
          <a class="button is-light">
            <strong>Mukhlis Febriansyah</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container is-widescreen">
<%= form_for @teacher do |f| %>
    <div class="field">
        <%= f.label :NIK, :class => 'label' %>
        <div class="control">
         <%= f.text_field :NIK , :class => 'input' %> </br>
        </div>
    </div>
    
    
    <div class="field">
        <%= f.label :name, :class => 'label' %>
        <div class="control">
         <%= f.text_field :name , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :age, :class => 'label' %>
        <div class="control">
         <%= f.text_field :age , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :kelas, :class => 'label' %>
        <div class="control">
         <%= f.text_field :kelas , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :mapel, :class => 'label' %>
        <div class="control">
         <%= f.text_field :mapel , :class => 'input' %> </br>
        </div>
    </div>
    
    <%= f.submit "update", :class => 'button is-danger is-outlined' %>
<% end %>
</div>

