<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <div class="wrapper">
        <div class="neon-wrapper">
            <span class="txt" >Mukhlis Febriansyah</span>
            <span class="gradient"></span>
            <span class="dodge"></span>
        </div>
      </div>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Beranda
      </a>

      <a class="navbar-item">
        Table Teachers
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="button is-danger is-outlined">
            <%= link_to 'New Teacher', new_teacher_path %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-fluid">
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Student Table
      </h1>
      <h2 class="subtitle">
        Mukhlis Febriansyah
      </h2>
    </div>
  </div>
</section>
<section class="section table">
<div class="table-container">
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
      <tr>
          <th><abbr title="Nama Siswa">NIK</abbr></th>
          <th><abbr title="Username">Nama</abbr></th>
          <th><abbr title="Age">Age</abbr></th>
          <th><abbr title="Kelas">Kelas</abbr></th>
          <th><abbr title="Address">Mapel</abbr></th>
          <th colspan="3" style="text-align:center"><abbr title="Action">Action</abbr></th>
      </tr>
  </thead>
  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
      <td><%= teacher.NIK %></td>
      <td><%= teacher.name %></td>  
      <td><%= teacher.age %></td>
      <td><%= teacher.kelas %></td>
      <td><%= teacher.mapel %></td>
      <td><%= link_to 'detail', teacher_path(teacher) %>  <td><%= link_to 'Edit', edit_teacher_path(teacher) %>  <td><%= link_to 'Delete', teacher_path(teacher), method: :delete, data:{confirm: 'Are you sure?'} %> </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
</div>

</section>


