<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <div class="wrapper">
        <div class="neon-wrapper">
            <span class="txt" >Mukhlis Febriansyah</span>
            <span class="gradient"></span>
            <span class="dodge"></span>
        </div>
      </div>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Beranda
      </a>

      <a class="navbar-item">
        Table Students
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="button is-danger is-outlined">
            <%= link_to 'New Exam', new_exam_path %>
          </div>
          <a class="button is-light">
            <strong>Mukhlis Febriansyah</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container is-widescreen">
<%= form_for @exam do |f| %>
    <div class="field">
        <%= f.label :id_student, :class => 'label' %>
        <div class="control">
         <%= f.text_field :id_student , :class => 'input' %> </br>
        </div>
    </div>
    
    
    <div class="field">
        <%= f.label :title, :class => 'label' %>
        <div class="control">
         <%= f.text_field :title , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :mapel, :class => 'label' %>
        <div class="control">
         <%= f.text_field :mapel , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :duration, :class => 'label' %>
        <div class="control">
         <%= f.text_field :duration , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :nilai, :class => 'label' %>
        <div class="control">
         <%= f.text_field :nilai , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :status, :class => 'label' %>
        <div class="control">
         <%= f.text_field :status , :class => 'input' %> </br>
        </div>
    </div>
    
    <%= f.submit "update", :class => 'button is-danger is-outlined' %>
<% end %>
</div>

