<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <div class="wrapper">
        <div class="neon-wrapper">
            <span class="txt" >Mukhlis Febriansyah</span>
            <span class="gradient"></span>
            <span class="dodge"></span>
        </div>
      </div>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Beranda
      </a>

      <a class="navbar-item">
        Table Exams
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="button is-danger is-outlined">
            <%= link_to 'New Report', new_report_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-fluid">
<section class="hero is-primary">
  <div class="hero-b                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ody">
                                                                                                                                                                                                                                                                                                                                            <div class="container">
      <h1 class="title">
        Report Table
      </h1>
      <h2 class="subtitle">
        Mukhlis Febriansyah
      </h2>
    </div>
  </div>
</section>
<section class="section table">
<div class="table-container">
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
      <tr>
          <th><abbr title="Nama Siswa">ID Student</abbr></th>
          <th><abbr title="Nama Siswa">ID Teacher</abbr></th>
          <th><abbr title="Username">Title</abbr></th>
          <th><abbr title="Age">Hasil</abbr></th>
          <th><abbr title="Kelas">Mapel</abbr></th>
          <th><abbr title="Address">Date</abbr></th>
          <th colspan="3" style="text-align:center"><abbr title="Action">Action</abbr></th>
      </tr>
  </thead>
  <tbody>
  <% @reports.each do |report| %>
      <tr>
      <td><%= report.student_id %></td>
      <td><%= report.teacher_id %></td>  
      <td><%= report.title %></td>
      <td><%= report.hasil %></td>
      <td><%= report.mapel %></td>
      <td><%= report.date %></td>
      <td><%= link_to 'detail', report_path(report) %>  <td><%= link_to 'Edit', edit_report_path(report) %>  <td><%= link_to 'Delete', report_path(report), method: :delete, data:{confirm: 'Are you sure?'} %> </td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
</div>

</section>


