<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
  <a class="navbar-item" href="#">
    <div class="wrapper">
      <div class="neon-wrapper">
          <span class="txt" >Mukhlis Febriansyah</span>
          <span class="gradient"></span>
          <span class="dodge"></span>
      </div>
    </div>
  </a>

  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">
      Beranda
    </a>

    <a class="navbar-item">
      Table Students
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <div class="button is-danger is-outlined">
          <%= link_to 'New Student', new_student_path %>
        </div>
        <a class="button is-light">
          <strong>Mukhlis Febriansyah</strong>
        </a>
      </div>
    </div>
  </div>
</div>
</nav>

<div class="container is-widescreen">
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create Exam Form
      </h1>
      <h2 class="subtitle">
        Mukhlis Febriansyah
      </h2>
    </div>
  </div>
</section>
<%= form_for @report do |f| %>
    <div class="field">
        <%= f.label :student_id, :class => 'label' %>
        <div class="control">
         <%= f.text_field :student_id , :class => 'input' %> </br>
        </div>
    </div>
    
    
    <div class="field">
        <%= f.label :teacher_id, :class => 'label' %>
        <div class="control">
         <%= f.text_field :teacher_id , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :title, :class => 'label' %>
        <div class="control">
         <%= f.text_field :title , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :hasil, :class => 'label' %>
        <div class="control">
         <%= f.text_field :hasil , :class => 'input' %> </br>
        </div>
    </div>

    <div class="field">
        <%= f.label :mapel, :class => 'label' %>
        <div class="control">
         <%= f.text_field :mapel , :class => 'input' %> </br>
        </div>
    </div>
    
    <div class="field">
        <%= f.label :date, :class => 'label' %>
        <div class="control">
         <%= f.text_field :date , :class => 'input' %> </br>
        </div>
    </div>
    
    <%= f.submit "Save", :class => 'button is-danger is-outlined' %>
<% end %>
</div>